/**********
About
**********/
.about {
  &__content {
    @include grid;
  }
  &__contentPhoto {
    text-align: center;
    @include mediaQuery(max-width, 767px) {
      margin-bottom: 2rem;
    }
  }
  &__resume {
    color: $secondaryLight;
  }
  &__personalInformationRow {
    margin-bottom: 1rem;
  }
  &__title {
    color: $primary;
    margin-bottom: 1rem;
  }
  &__paragraph {
    @include paragraph();
    margin-bottom: 1rem;
  }
  &__list {
    list-style: none;
  }
  &__listItem {
    margin-bottom: 1rem;
  }
  &__key {
    color: $primary;
    font-weight: 700;
    margin-right: 0.5rem;
    @include mediaQuery(max-width, 450px) {
      display: block;
    }
  }
  &__button {
    @include button($primary, $primaryDark, $primary);
  }
}

/**********
Light theme about
**********/
body.light {
  & .about {
    &__resume {
      color: $secondaryDark;
    }
    &__title {
      color: $secondary;
    }
    &__key {
      color: $secondary;
    }
    &__button {
      @include button($secondary, $primaryLight, $secondary);
    }
  }
}
