/**********
About
**********/
.about {
  &__content {
    @include row($margin-left: -1rem, $margin-right: -1rem);
  }
  &__contentPhoto {
    @include col(40%, 40%, 1rem, 1rem, max-width, 767px, 100%, 100%);
    text-align: center;
    @include mediaQuery(max-width, 767px) {
      margin-bottom: 2rem;
    }
  }
  &__resume {
    @include col(60%, 60%, 1rem, 1rem, max-width, 767px, 100%, 100%);
    color: $secondaryLight;
  }
  &__personalInformationRow {
    @include row(
      $margin-left: -1rem,
      $margin-right: -1rem,
      $size: max-width,
      $breakpoint: 1100px,
      $flex-direction-responsive: column
    );
    margin-bottom: 1rem;
  }
  &__personalInformationCol {
    @include col(none, 100%, 1rem, 1rem, max-width, 767px, 100%, 100%);
  }
  &__title {
    color: $primary;
    margin-bottom: 1rem;
  }
  &__paragraph {
    @include paragraph();
    margin-bottom: 1rem;
  }
  &__list {
    list-style: none;
  }
  &__listItem {
    margin-bottom: 1rem;
  }
  &__key {
    color: $primary;
    font-weight: 700;
    margin-right: 0.5rem;
    @include mediaQuery(max-width, 450px) {
      display: block;
    }
  }
  &__button {
    @include button($primary, $primaryDark, $primary);
  }
}

/**********
Light theme about
**********/
body.light {
  & .about {
    &__resume {
      color: $secondaryDark;
    }
    &__title {
      color: $secondary;
    }
    &__key {
      color: $secondary;
    }
    &__button {
      @include button($secondary, $primaryLight, $secondary);
    }
  }
}
