/**********
Footer
**********/
.footer {
  background-color: $secondaryDark;
  padding: 2rem 0;
  &__content {
    color: $primaryLight;
    text-align: center;
  }
  &__brand {
    color: $primary;
  }
}

/**********
Light theme footer
**********/
body.light {
  & .footer {
    background-color: $secondaryLight;
    &__content {
      color: $primaryDark;
      text-align: center;
    }
    &__brand {
      color: $secondary;
    }
  }
}
