/**********
Header
**********/
.scrollDown {
  & .header {
    transform: translate(0, -100%);
  }
}
.header {
  background-color: #262626;
  box-shadow: 2px 4px 10px $shadowDark;
  height: 4rem;
  position: sticky;
  top: 0;
  z-index: 1030;
  transition: transform 1s;
  &__content {
    @include flexBox(
      $align-items: center,
      $justify-content: space-between,
      $breakpoint: 0
    );
    height: 4rem;
  }
}
/**********
Light theme header
**********/
body.light {
  & header {
    background-color: $secondaryLight;
    box-shadow: 2px 4px 10px $shadowLight;
  }
}
