/**********
Navbar
**********/
.navbar {
  &__list {
    @include flexBox($breakpoint: 0);
    list-style: none;
  }
  &__link {
    color: $primaryLight;
    padding: 0 1rem;
    text-decoration: none;
    &.active {
      color: $primary;
    }
  }
}

/**********
Light theme navbar
**********/
body.light {
  & .navbar {
    &__link {
      color: $primaryDark;
      &.active {
        color: $secondary;
      }
    }
  }
}
