/**********
Projects
**********/
.projects {
  &__title {
    color: $primary;
    text-align: center;
    margin-bottom: 2rem;
  }
  &__contentRow {
    @include grid;
  }
  &__content {
    background-color: $secondaryDark;
    border: 3px solid $primary;
    border-radius: 0.5rem;
    box-shadow: 2px 4px 10px $shadowDark;
    color: $primaryLight;
    padding: 1rem;
  }
  &__containerCompanyLogo {
    @include flex(
      $align-items: center,
      $justify-content: space-between,
      $size: max-width,
      $breakpoint: 450px,
      $flex-direction-responsive: column-reverse
    );
    margin-bottom: 0.5rem;
  }
  &__companyLogo {
    @include mediaQuery(max-width, 450px) {
      margin-bottom: 0.75rem;
    }
  }
  &__description {
    @include paragraph;
  }
}

/**********
Light theme projects
**********/
body.light {
  & .projects {
    &__title {
      color: $secondary;
    }
    &__content {
      background-color: $secondaryLight;
      border: 3px solid $secondary;
      box-shadow: 2px 4px 10px $shadowLight;
      color: $primaryDark;
    }
  }
}
