/**********
Services
**********/
.services {
  &__title {
    color: $primary;
    text-align: center;
    margin-bottom: 2rem;
  }
  &__contentRow {
    @include row($margin-left: -1rem, $margin-right: -1rem);
  }
  &__contentCol {
    @include col(33.3%, 33.3%, 1rem, 1rem, max-width, 767px, 100%, 100%);
    display: flex;
    &:not(:last-child) {
      @include mediaQuery(max-width, 767px) {
        margin-bottom: 2rem;
      }
    }
  }
  &__content {
    background-color: $secondaryDark;
    box-shadow: 2px 4px 10px $shadowDark;
    color: $primaryLight;
    text-align: center;
    padding: 1rem;
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 0;
      box-sizing: border-box;
      height: 0;
      transition: all 0.8s ease;
    }
    &::before {
      left: 0;
      bottom: 0;
      border-bottom: 3px solid transparent;
      border-left: 3px solid transparent;
    }
    &::after {
      right: 0;
      top: 0;
      border-right: 3px solid transparent;
      border-top: 3px solid transparent;
    }
    &:hover {
      .services__icon {
        color: $primary;
        transition: all 0.8s ease;
      }
      &::before,
      &::after {
        border-color: $primary;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__icon {
    font-size: 2rem;
    margin: 1rem 0;
  }
  &__subTitle {
    text-align: center;
    margin-bottom: 1rem;
  }
  &__paragraph {
    @include paragraph();
    text-align: justify;
  }
}

/**********
Light theme services
**********/
body.light {
  & .services {
    &__title {
      color: $secondary;
    }
    &__content {
      background-color: $secondaryLight;
      box-shadow: 2px 4px 10px $shadowLight;
      color: $primaryDark;
      &:hover {
        .services__icon {
          color: $secondary;
        }
        &::before,
        &::after {
          border-color: $secondary;
        }
      }
    }
  }
}
