/**********
Skills
**********/
.skills {
  &__title {
    color: $primary;
    text-align: center;
    margin-bottom: 2rem;
  }
  &__subtitles {
    color: $primaryLight;
    margin-bottom: 1rem;
  }
  &__contentRow {
    @include row($margin-left: -1rem, $margin-right: -1rem);
    &:last-child {
      & .skills__content:last-child {
        @include mediaQuery(min-width, 768px) {
          margin-bottom: 0;
        }
      }
    }
  }
  &__contentCol {
    @include col(50%, 50%, 1rem, 1rem, max-width, 767px, 100%, 100%);
  }
  &__content {
    margin-bottom: 2rem;
  }
  &__label {
    @include flexBox($justify-content: space-between, $breakpoint: 0);
    color: $primaryLight;
    margin-bottom: 1rem;
  }
  &__key {
    font-size: 0.938rem;
  }
  &__skillBar {
    background-color: $primaryLight;
    box-shadow: 2px 4px 10px $shadowDark;
    height: 1rem;
    border-radius: 0.5rem;
  }
  &__skill {
    background-color: $primary;
    border-radius: 0.5rem;
    height: 100%;
    &:hover {
      background: darken($primary, 5%);
    }
  }
}

/**********
Light theme skills
**********/
body.light {
  & .skills {
    &__title {
      color: $secondary;
    }
    &__subtitles {
      color: $primaryDark;
    }
    &__label {
      color: $primaryDark;
    }
    &__skillBar {
      background-color: $secondaryLight;
      box-shadow: 2px 4px 10px $shadowLight;
    }
    &__skill {
      background-color: $secondary;
      &:hover {
        background: darken($secondary, 5%);
      }
    }
  }
}
