/**********
Colors
**********/
$primary: #ffb400;
$secondary: #1877f2;
$primaryDark: #121212;
$secondaryDark: #262626;
$primaryLight: #fff;
$secondaryLight: #f3f3f3;
$shadowDark: #4a4a4a;
$shadowLight: #ccc;
